* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
.main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, rgba(149, 0, 255, 0.828), rgb(30, 199, 208));
}
.main h1 {
    font-size: 45px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 50px;
    margin-top: -50px;
}
.main h1 span {
    color: #FFFF80
}
textarea {
    width: 550px;
    height: 250px;
    outline: 0;
    border: 0;
    border-radius: 35px;
    padding: 20px;
    resize: none;
    font-size: 15px;
    color: #fff;
    background-color: rgb(115, 54, 228);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    margin-bottom: 30px;
    transition: 0.2s;
}
textarea:hover {
    background-color: rgb(115, 54, 228, 0.8);
}
textarea::placeholder {
    color: #ddd;
}
.row {
    width: 550px;
    display: flex;
    align-items: center;
    gap: 20px;
}
button {
    border: 0;
    outline: 0;
    border-radius: 35px;
    font-size: 16px;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    background-color: rgb(115, 54, 228);
    color: #fff;
    cursor: pointer;
    transition: 0.2s;
}
button:hover {
    background-color: rgb(115, 54, 228, 0.8);
}
button img {
    width: 16px;
    margin-right: 10px;
}
select {
    flex: 1;
    height: 50px;
    color: #fff;
    border-radius: 35px;
    padding: 0px 20px;
    border: none;
    outline: none;
    margin: none;
    appearance: none;
    background-image: url("Media/dropdown.png");
    background-repeat: no-repeat;
    background-color: rgb(115, 54, 228);
    background-position-x: calc(100% - 20px);
    background-position-y: 20px;
    background-size: 16px;
    transition: 0.2s;
}
select:hover {
    background-color: rgb(115, 54, 228, 0.8);
}